@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

    *{
    box-sizing: border-box;
    }

    body{
    margin: 0;
    font-family: 'Yeon Sung', cursive;
    }
    :root{
        --primary:rgb(209, 100, 114);
    }
    .mainit{
    
        background-image: url(images/star2.jpg);
        /* background-attachment: fixed; */
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index:-1 ;
    }

    nav {
        color: white;
        text-align: center;
        width: 100%;
    }
    .navigation{
        font-size: 2.5rem;
         padding: 1rem;
         font-weight: bolder;
        animation: animate 4s linear infinite;
    }
    @keyframes animate{
        0%{
            color: red;
        }
        100%{
            /* color: red; */
        }
    }
    
        .main{
            margin: auto;
            max-width: 80%;
            padding: 1rem;
                }
        textarea{
            width: 80%;
            height: 15vh;
            display: block;
            padding: 1rem;
            margin: 1rem;
            border: 2px solid white;
            background-color:rgb(199, 214, 236);
            border-radius: 2rem;
        }
        #inputbtn{
            background-color: var(--primary);
            cursor: pointer;
            border-radius: 2rem;
            font-family: 'Yeon Sung', cursive;
        }
        #inputbtn:hover{
            background-color: red;
        }

        #outputtxt{
            width: 80%;
            height: 15vh;
            display: block;
            padding: 1rem;
            margin: 1rem;
            margin-top: 0rem;
            border: 2px solid white;
            border-radius: 2rem;
            background-color:rgb(199, 214, 236);
            /* overflow: scroll; */
        }
        
        footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 1rem;
            /* background-color: var(--primary); */
            text-align: center;
        }
        
        .container{
            margin: 1rem;
            padding: 1rem;
            font-size: 1.3rem;
        }

        .details{
             color: rgb(53, 231, 53);
        }

